*{
    margin: 0;
    padding:0;
}
nav{
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items:center;
    display:flex;
    padding: 18px 8%;
}
ul{
    list-style:none;
    display:flex;
    gap: 12px;
    color:#575757
}
a{
    text-decoration: none;
    color:#575757;
}
button{
    background-color:#1D4ED8;
    color:#FFFFFF;
    padding:8px 16px;
    border-radius: 4px;
    border: none;
    cursor:pointer;
}
button:hover{
    background-color: darkblue;
}